* {
	--landing-text-color: #e9f5db;
	--landing-bg-color: #718355;
	--header-bg-color: #d8f3dc;
	--header-text-color: #081c15;

	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
}

i {
	color: var(--header-text-color);
}

.sections-frame {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	scroll-behavior: smooth;
	height: 100vh;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

header {
	flex: 0 1 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 1rem;

	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vh;

	border-radius: 4vmin;

	background-color: var(--header-bg-color);

	z-index: 5;

	position: absolute;
	left: 0;
	right: 0;
}

.internal-links > button {
	background-color: var(--header-bg-color);
	border: none;
}

section {
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;

	display: flex;
}

.landing {
	display: flex;
	flex-direction: column;
	position: relative;

	height: 90%;
	background-color: #718355;
	color: var(--landing-text-color);

	margin: auto;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	overflow: auto;
	background: linear-gradient(315deg, #1b4332 3%, #40916c 38%, #2d6a4f 68%, #1b4332 93%);
	animation: gradient 30s ease infinite;
	background-size: 400% 400%;
	background-attachment: fixed;
}

.contact-icons > a > i {
	color: var(--landing-text-color);
}

#arrow-down {
	color: var(--landing-text-color);
	margin-bottom: 3rem;
	animation: updown 2s ease infinite;
}

.internal-links > * {
	padding: 0 1rem;
}

.external-links > * {
	padding: 0 0.5rem;
}

.landing-main {
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.landing-main > * {
	margin: 1rem 0;
}

.profile-image {
	border-radius: 50%;
	height: 7rem;
	border: solid 2px var(--landing-text-color);
}

.name {
	font-size: 3rem;
}

.brief-desciption {
	font-size: 1.2rem;
}

.contact-icons {
	display: flex;
	justify-content: space-evenly;
	width: 10rem;
}

/* .about {
	background-color: blue;
}

.projects {
	background-color: green;
}

.contact {
	background-color: purple;
} */

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

@keyframes updown {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}
